<<<<<<< HEAD
.modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  place-items: center;
  justify-items: center;
}

.modal-container {
  max-width: 50vw;
  max-height: 80vh;
  background-color: #1a1a1a;
  justify-self: center;
  position: relative;
  transform: translateX(50%);
  z-index: 10;
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 1.5rem;
  justify-content: space-evenly;
  overflow-y: scroll;
  transition: all 0.3s linear;
}

.search-btn {
  font-size: 3rem;
  width: 1vw;
  height: 2rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  color: gray;
}

.modal-container input {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  background-color: transparent;
  border: transparent;
  font-size: 1.4rem;
  outline: none;
  color: white;
  border-bottom: 1px solid gray;
}

.card {
  max-width: 10vw;
  height: max-content;
  margin: 1rem 2rem;
  text-align: center;
  color: rgba(245, 245, 245, 0.719);
}

.img-holder {
  border-radius: 1.4rem;
  margin-bottom: 1rem;
}

.fibel-enter {
  opacity: 0;
}

.fibel-enter-active {
  opacity: 1;
  transition: opacity 600ms;
}

.fibel-exit {
  opacity: 1;
}

.fibel-exit-active {
  opacity: 0;
  transition: bounce 0.3ms 600ms;
}

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.267);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.459);
  height: 10vh;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.637);
}
=======
.modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  place-items: center;
  justify-items: center;
  visibility: hidden;
}

.modal-container {
  max-width: 50vw;
  max-height: 80vh;
  background-color: #1a1a1a;
  justify-self: center;
  position: relative;
  transform: translateX(50%);
  z-index: 10;
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 1.5rem;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.show-modal {
  visibility: visible;
}

.search-btn {
  font-size: 3rem;
  width: 1vw;
  height: 2rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  color: gray;
}

.modal-container input {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  background-color: transparent;
  border: transparent;
  font-size: 1.4rem;
  outline: none;
  color: white;
  border-bottom: 1px solid gray;
}

.card {
  max-width: 10vw;
  height: max-content;
  margin: 1rem 2rem;
  text-align: center;
  color: rgba(245, 245, 245, 0.719);
}

.img-holder {
  border-radius: 1.4rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.267);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.459);
  height: 10vh;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.637);
}
>>>>>>> fb76bbd39e2dc5799870514b55808637c8a6d9c3
